body{
  margin: 0;
  padding: 0;
}
.blogStyle {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 20px;

}
.button-area{
  display: flex;
  align-items: center;
  justify-content: space-between;
}